<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ramky.timespread">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FifthActivity"
            android:label="@string/app_name" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".ThirdActivity" />
        <activity android:name=".FourthActivity" />
        <activity
            android:name=".SixthActivity"
            android:label="Mess Menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SeventhActivity" />
        <activity android:name=".EighthActivity" />
        <activity android:name=".NinthActivity" />
        <activity android:name=".SubjectsActivity" />
        <activity
            android:name=".BusActivity"
            android:label="Bus Schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassSchActivity"
            android:label="Class Schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlacementActivity"
            android:label="Placement Drive"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClubsActivity"
            android:label="Choose Clubs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ClubsActivity_1"
            android:label="Choose Clubs"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SubjectsActivity_1"
            android:label="Choose Subjects"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".EventsActivity"
            android:label="Events"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".DailyActivity"
            android:label="Daily Schedule"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>